{% extends "base.html" %}

{% load static %}

{% block style %}
  <link rel="stylesheet" href="{% static 'posts/style.css'%}" />
{% endblock %}

{% block content %}
  <div class="container">
    <h1>Post Detail</h1>

    <div class="form-group">
      <label for="author">작성자</label>
      <input readonly class="form-control-plaintext" type="text" name="author" value="{{ post.user.get_username }}" />
    </div>

    <div class="form-group">
      <label for="body">본문</label>
      <textarea readonly class="form-control-plaintext" id="body" cols="40" rows="10" name="body">{{ post.body }}</textarea>
    </div>

    <div>{{ post.created_at }}</div>

    <div>좋아요 수: {{ post.liked_users.count }}</div>

    {% if user.is_authenticated %}
      <form action="{% url 'posts:like' post.id %}" method="POST">
        {% csrf_token %}

        {% if user in post.liked_users.all %}
          <button type="submit" class="btn btn-primary">LIKE</button>
        {% else %}
          <button type="submit" class="btn btn-secondary">LIKE</button>
        {% endif %}
      </form>
    {% endif %}

    <a href="{% url 'posts:index' %}">목록</a>
    {% if user == post.user %}
      <a href="{% url 'posts:edit' post.id %}">수정하기</a>
      <a href="{% url 'posts:delete' post.id %}">삭제하기</a>
    {% endif %}
  </div>
{% endblock %}